.pages {
  background-color: #2a2c2f;
  color: #fff;
  width: 100%;
  font-family: "Inter", "Arial", "sans-serif";
  overflow: hidden;
}

/* alterei o css para centralizar as imagens e o texto para aparecer por completo no celular e modifiquei o css do button para o button aparecer em baixo da imagen */
@media (max-width: 320px) {

  .places {
    margin: 0;
  }

  .place__image {
    width: 20rem;
    height: 12.5rem;
  }

  .place__text {
    display: none;

  }

  .button {
    display: block;
    margin: 0 auto;
  }
}